@page
@using Microsoft.Extensions.Configuration
@model IndexModel
@inject IConfiguration configuration
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Passing tests</h1>
    <h2>some_setting: @configuration.GetSection("some_setting").Value</h2>
    <h2>WEBSITE_RUN_FROM_PACKAGE: @configuration.GetSection("WEBSITE_RUN_FROM_PACKAGE").Value</h2>
</div>
